/*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
text field styles
*/

.tf{
	cursor:text;
	background:#fff;
	color:#000;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0) 60%);
    background-image:    -moz-linear-gradient(top, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0) 60%);
    background-image:         linear-gradient(top, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0) 60%);
	display:block;
	line-height:1;
	box-shadow:0 0 0 .1em rgba(0,0,0,0.2), .05em .1em .5em -.1em rgba(0,0,0,0.2) inset, 0 0 .2em .1em rgba(0,0,0,0.1);
	border-radius:.15em;
	white-space:nowrap;
	text-shadow:0 .1em .2em rgba(0,0,0,0.1);
	position: relative;
}
.tf > .tf-inner{
	display:table;
	width:100%;
}
.tf > .tf-inner > span{
	display:table-cell;
	padding:.6em 0;
	vertical-align:middle;
}
.tf-icon-inner{
	display:block;
	min-width:.7em;
}
.tf-placeholder{
	width:0%;
}
.tf-placeholder-inner{
	display:block;
	width:0;
	position: relative;
	z-index:0;
	opacity:.99;
	color:#999;
	-webkit-transition: all .1s linear;
}
.tf-field{
	width:100%;
}
.tf-field-inner{
	display:block;
	position: relative;
	z-index:1;
}
.tf-field-inner > input{
	border:none;
	background:transparent;
	margin:0;
	padding:0;
	display:block;
	width:100%;
	font:inherit;
	text-shadow:0 .1em .25em rgba(0,0,0,0.2);
	color:inherit;
}
.tf-counter{
	color:#aaa;
	font-size:.85em;
	text-shadow:none;
}

/*
-------------------------------------------------------------------
disabled
*/

.tf-disabled .tf-placeholder-inner{
	visibility:hidden;
}
.tf.tf-disabled .tf-counter{
	visibility:hidden;
}
.tf-field-inner > input:disabled{
	text-shadow:0 .1em 0 #fff;
}
.tf.tf-disabled{
	background-color:#fafafa;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0) 100%);
    background-image:    -moz-linear-gradient(top, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0) 100%);
    background-image:         linear-gradient(top, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0) 100%);
	color:#bbb;
	box-shadow:0 0 0 .1em rgba(0,0,0,0.2), .1em .1em 0 rgba(255,255,255,0.5) inset;
	text-shadow:0 .1em 0 #fff;
}

/*
-------------------------------------------------------------------
focus
*/

.tf.tf-focus{
	box-shadow:0 0 0 .1em #08f, 0 0 .25em .1em #08f, 0 0 .25em #08f inset;
}
.tf-focus .tf-placeholder-inner{
	opacity:.33;
}
.tf-field-inner > input:focus{
	outline:none;
}

/*
-------------------------------------------------------------------
in-use (when the field contains text)
*/

.tf-inuse .tf-placeholder-inner{
	opacity:0;
	font-size:0;
}

/*
-------------------------------------------------------------------
error
*/

.tf-error{
	box-shadow:0 0 0 .1em #c00, 0 0 .25em .1em rgba(255,0,0,0.3), 0 0 .25em rgba(255,0,0,0.3) inset;
}
.tf-error .tf-icon-after .tf-icon-inner{
	width:2.2em;
	position: relative;
}
.tf-error .tf-icon-after .tf-icon-inner:before{
	content:'';
	position: absolute;
	top:-1em;
	left:0;
	right:0;
	bottom:-1em;
	opacity:.8;
	background: transparent
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAbCAYAAACN1PRVAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAaBJREFUeNpi/P//PwO9ACPIsrOMjPjUyAKxIxBbArEBECsBsQgQvwHie0B8AYiPA/F+IH6MyxBjoD34LJMG4hggDgdiQyIcfh6IVwLxEiB+SoplbkCcC8Q+ZITWFiCeDMS70C1jwaI4BIhrgViPzKgBOVAOiPmAeA2yBBMWH1FiEQzoQc1xw2WZNDTo9KiU+PSg5kljsyyGmDhSWr0aHP4gmsggjUG3TBaa6vAC+ZkzGQRDQsBsEA3iEwHCoebDLXMkMnmTAwyh5sMts6Rx4WGJbJkBjS0zQC6uXgLZYsTo0rl9m4FdRYXh5507DFdUVYm17BUwUYnDfCZCrK6P27ah0EQCEbJ8Bit6CBTeeH12jxSdJFoENx9m2QUaJ5ALyJYdJ1aX8tq14GAE0SSA48hxBsrhG4nJ2MZINTuRwQmq5/yB+h7DfPYYWvERBB/WrUOhiQArYTU4cuUJKp1nkFlh4qtIM0A1NyhEkEv9p9Aa9hKVLLoENe8prsoTVJU3U8HCS1BzUJoG2JoFoKr8E7XbIISacnRrXdGu3UgvABBgAGyNoCMQyfsqAAAAAElFTkSuQmCC)
		no-repeat
		50% 50%;
	background-size:1.3em;
}

/*
-------------------------------------------------------------------
search
*/

.tf-search{
	border-radius:20em;
}
.tf-search .tf-icon-before .tf-icon-inner{
	width:2.2em;
	position: relative;
}
.tf-search .tf-icon-before .tf-icon-inner:before{
	content:'';
	position: absolute;
	top:-1em;
	left:0;
	right:0;
	bottom:-1em;
	opacity:.3;
	background: transparent
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAdCAYAAABWk2cPAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYBJREFUeNrEl7Fqw0AMhutQ6FIy+AXi2abePaWQNY/QZ/Bc6FA/RvsC7QMka6DQgIdshnTJlHfw7kqglIuQfIqTSwV/CjpJX09cdJeo67qba9stfkRRpK1noBmoAOWgCfn3oAZUg1agrZSsbkhZSEAVaIchHu0oNpFqS5Kgj6CFAca1oNyToZi0HgA8aO2CLdBE2eEG9AqagmLSlHwbZceJFVoJBd5AqZoMaxTD8yoLNBMODRYba4kOeCyAsVbmg5ZCS1MfkO2Yt7rU4kfU2oKd4CUs/li/7BS7ZO5Ciz9Ac+b/GjBoeE7e91/in5a1Jra21mlxzGq0vvZe1UbOLHXtYUAtnrP3QRthFJ5qPKfxQWvmn8PNk1ppFDtn7tp3kIIMB5UXcgxaoJca+KgPK/QSV5urdyv0nEvcBNagQ54rKyu4D+o+zPAG+qTHV0vakq90TumLBfwHPUfMvOAQ0D7wN+guFBTtWQDeH70cAkBd8BEwNBTtiQNR0X/8lvkVYAAkD2qArtMVSgAAAABJRU5ErkJggg==)
		no-repeat
		70% 50%;
	background-size:1.1em;
}

/*
-------------------------------------------------------------------
tip
*/

.tf-tip .tf-icon-after{
	cursor:default;
}
.tf-tip .tf-icon-after .tf-icon-inner{
	width:2.2em;
	position: relative;
}
.tf-tip .tf-icon-after .tf-icon-inner:before{
	content:'';
	position: absolute;
	top:-1em;
	left:0;
	right:0;
	bottom:-1em;
	opacity:.3;
	background: transparent
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAbCAYAAACN1PRVAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZ1JREFUeNrEljFugzAUhk3VC0Tqhlg4QaQsZawEOUFZM6LeIFeAI8ANAmNGInVkCVFyAFg6RaqSE0TuexamTgTGtI37pJ84xPaXZz/7PYNSSnTZIz4Mw5D1sUAvIAc0BdmgJ9AnqAbtQQXoHfTRNwlzSuKZCVqCdthXQbumvzkWNgetFSG3WjfjlWCvoMMPQVyHZh4pbP4HIBE474OZv1g62ZKaXbClbKDv+zTPc8rtdDrRNE1pEARDwOUtzJJFXRiGVGZxHA9FqSXCFn2dbdtuJ62qin3H967rMu+4oecS4AI5D80SOn2HDSZp21EUkbquWXuz2ZAkSdrf4E/ILganvUGam6HTsiwjZVmyNv/sApzPZxls+h2ShBzHRNlkMrnax+12y95JxhzFPbuogmaz2dVeYUQOgFAXEabsGXrBTSHsOz0rVGHc8MyNWPoCOTxAME08q+SkgXTUZ3sxGtGzN5VR4FHb9jxPFVaI0Wip5i3RRuQ5SzzUmGFXd6oGVm0G/69bX2s+056ptdcgd6uuDPbQVDcaOiviLwEGALT1dd4QMUwTAAAAAElFTkSuQmCC)
		no-repeat
		50% 50%;
	background-size:1.3em;
}
.tf-tip-text{
	position: absolute;
	background:#f6f6f6;
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
    background-image:    -moz-linear-gradient(top, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
    background-image:         linear-gradient(top, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
	color:#999;
	padding:.4em .6em;
	border-radius:.2em;
	right:-.2em;
	bottom:100%;
	margin-bottom:1.7em;
	box-shadow:0 0 0 .1em rgba(0,0,0,0.1), .1em .1em .3em .1em rgba(0,0,0,0.1);
	line-height:1.3;
	font-size:.9em;
	text-shadow:0 .1em 0 #fff;
	text-align:center;
	display:none;
}
.tf-tip .tf-icon-after:hover .tf-tip-text{
	display:block;
}
.tf-tip-text:after{
	content:'';
	position: absolute;
	width:1.2em;
	height:.7em;
	background:transparent
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAICAYAAAAm06XyAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAG1JREFUeNqMzMEJwCAMheGXAWzHcAuHzxaO4LEVvKYGilg02oAHo99PAA5mvrz3cM5hNzlnxBgRQjhJREBEvwI9rNcbit/RgKSUpJQyHN3ru/5rtQ6bgSmc4CFgQgN/AiZc4BYw4QZjCes8AgwAR/GFBW32CTQAAAAASUVORK5CYII=)
		no-repeat
		0 0;
	background-size:1.2em;
	top:100%;
	right:.8em;
}
.tf-bigtip .tf-tip-text{
	white-space:normal;
	min-width:14em;
	padding:.7em .9em;
}

/*
-------------------------------------------------------------------
textarea
*/

.tf-area{
	white-space:normal;
}
.tf-area .tf-placeholder,
.tf-area .tf-counter{
	white-space:nowrap;
}
.tf-area textarea{
	resize:none;
	display:block;
	border:none;
	background:transparent;
	margin:0;
	padding:0;
	font:inherit;
	color:inherit;
	width:100%;
	min-height:5em;
	text-shadow:0 .1em .25em rgba(0,0,0,0.2);
	line-height:1.2;
}
.tf-area textarea:focus{
	outline:none;
}
.tf-area > .tf-inner{
	display:block;
	position: relative;
	padding:.6em .6em;
	width:auto;
}
.tf-area > .tf-inner > span{
	display:inline;
	padding:0;
}
.tf-area .tf-placeholder{
	position:absolute;
	top:.6em;
	left:.6em;
	line-height:1em;
}
.tf-area .tf-counter{
	position:absolute;
	bottom:.4em;
	right:.5em;
	width:auto;
	font-size:.8em;
	color:#ccc;
	z-index:2;
	background:#fff;
	box-shadow:0 0 2px 1px #fff;
}
.tf-area textarea:disabled{
	text-shadow:0 .1em 0 #fff;
}




.fc-select select {
    display: none;
}
.fc-select {
    width: 300px;
    height: 3em;
    border-radius: 2px;
    padding: 3px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 2px #aaa;
    display: block;
    position: relative;
    background-image: -webkit-linear-gradient(top,#fcfcfc,#aaa);
}
.fc-select .fc-s-arrow {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 3em;
    border: 1px solid red;
}
.fc-select.tf-focus .fc-options {
    display: block;
    width: 100%;
}
.fc-select .fc-s-text {
    
}
.fc-select .fc-options {
    padding: 0;
    display: none;
    position: absolute;
    top: 100%;
    border: 1px solid #aaa;
}
.fc-options .fc-option {
    padding: 4px;
    list-style: none outside none;
}
.fc-options .fc-option:hover {
    background-image: -webkit-linear-gradient(top, #f6f6f6, #aaa);
}


