.tfeeld{
	cursor:text;
	background:#fff;
	color:#000;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0) 60%);
    background-image:    -moz-linear-gradient(top, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0) 60%);
    background-image:         linear-gradient(top, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0) 60%);
	display:block;
	line-height:1;
	box-shadow:0 0 0 .1em rgba(0,0,0,0.2), .05em .1em .5em -.1em rgba(0,0,0,0.2) inset, 0 0 .2em .1em rgba(0,0,0,0.1);
	border-radius:.15em;
	white-space:nowrap;
	text-shadow:0 .1em .2em rgba(0,0,0,0.1);
	position: relative;
}
.tfeeld.search{
	border-radius:20em;
}
.tfeeld.search .tfeeld-icon-before .tfeeld-icon-inner{
	width:2.2em;
	position: relative;
}
.tfeeld.search .tfeeld-icon-before .tfeeld-icon-inner:before{
	content:'';
	position: absolute;
	top:-1em;
	left:.2em;
	right:.1em;
	bottom:-1em;
	opacity:.3;
	background: transparent
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD4AAAA4CAYAAAClmEtZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAfdJREFUeNrsmrFOwkAYx6kxcZAw6APYwakEdiZIXHkDHXwCZhJNZOEddHNRVxNYTUgkYWAjwQUHeQCd6oz/M0fSnFeuLXfmu/B9yS+k197H/Wh7vbsSrFar0i7GXmlHg8VZnMVZnMVZnMVZnMVZnMVZnFTs20oUBEHario4Aw1QByeyfAlmYAJewFxX2dW0ObCVWCMegktwDk4N1d/BA7gHH/8h/pvYBkq0wECkz8lA1rXevj/tdSAuGj4uIL1mnJT3RTxMOdNTcAOa4EjSlGXTlDMf+iTe00jcgmhDvUgeo9br+SIueu+FRrqSoW5FIy9yVX0Q72gu7yhH/Uhz2XdcidscwDSU7SG+4C3H00UcOzTkJDlyqyvbowI5RoacJAcwMT4OE0XHyP2VM4fo7T8TRd/IUeaxOlHxpbJdK5CjZshJUnymGbbmjZYhJ0nxibLdxj0b5bi/xbFtQ06SkxQnAxhXbSY/ZPVF3NYkRfDok7iNaWmSO5/Et1mIyCRPWXx92fc0HZ6OhVx3yyRPXTy52Chmbk9yQTGWzGVZJ9F7X2WRJyVu8UczylObltqKPrhO2ScefQekBjAObpOucrZfQZncCoyj/qHrQloQUPiD34a3MCIuwDPaGZNciOCXhizO4izO4izO4izO4izO4izO4lvEjwADAPBk3yCL+3CmAAAAAElFTkSuQmCC)
		no-repeat
		20% 50%;
	background-size:cover;
}
.tfeeld.focus{
	box-shadow:0 0 0 .1em #08f, 0 0 .25em .1em #08f, 0 0 .25em #08f inset;
}
.tfeeld.disabled{
	background-color:#fafafa;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0) 100%);
    background-image:    -moz-linear-gradient(top, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0) 100%);
    background-image:         linear-gradient(top, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0) 100%);
	color:#bbb;
	box-shadow:0 0 0 .1em rgba(0,0,0,0.2), .1em .1em 0 rgba(255,255,255,0.5) inset;
	text-shadow:0 .1em 0 #fff;
}
.tfeeld > .tfeeld-inner{
	display:table;
	width:100%;
}
.tfeeld > .tfeeld-inner > span{
	display:table-cell;
	padding:.6em 0;
	vertical-align:middle;
}
.tfeeld .tfeeld-icon-inner{
	display:block;
	min-width:.7em;
}
.tfeeld .tfeeld-placeholder{
	width:0%;
}
.tfeeld .tfeeld-placeholder-inner{
	display:block;
	width:0;
	position: relative;
	z-index:0;
	opacity:.99;
	color:#999;
	-webkit-transition: all .1s linear;
}
.tfeeld.disabled .tfeeld-placeholder-inner{
	visibility:hidden;
}
.tfeeld.focus .tfeeld-placeholder-inner{
	opacity:.33;
}
.tfeeld.inuse .tfeeld-placeholder-inner{
	opacity:0;
	font-size:0;
}
.tfeeld .tfeeld-field{
	width:100%;
}
.tfeeld .tfeeld-field-inner{
	display:block;
	position: relative;
	z-index:1;
}
.tfeeld .tfeeld-field-inner > input{
	border:none;
	background:transparent;
	margin:0;
	padding:0;
	display:block;
	width:100%;
	font:inherit;
	text-shadow:0 .1em .25em rgba(0,0,0,0.2);
	color:inherit;
}
.tfeeld .tfeeld-field-inner > input:disabled{
	text-shadow:0 .1em 0 #fff;
}
.tfeeld .tfeeld-field-inner > input:focus{
	outline:none;
}
.tfeeld-counter{
	color:#aaa;
	font-size:.85em;
	box-shadow:none;
}
.tfeeld.disabled .tfeeld-counter{
	visibility:hidden;
}
